
# Application
APP_NAME=payment-service
APP_ENVIRONMENT=development
APP_HOST=0.0.0.0
APP_PORT=8002
APP_DEBUG=false
APP_RELOAD=true
APP_LOG_LEVEL=DEBUG
APP_API_V1_PREFIX=/api/v1
APP_PAYMENT_SESSION_EXPIRY_SECONDS=900

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=ledgerflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=10
