
# Application
APP_NAME=commerce-service
APP_ENVIRONMENT=development
APP_HOST=0.0.0.0
APP_PORT=8001
APP_DEBUG=false
APP_RELOAD=true
APP_LOG_LEVEL=DEBUG
APP_API_V1_PREFIX=/api/v1

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=commerce_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=10
